@import 'ui-variables';
@import 'ui-mixins';

@token-color: @accent-primary;
@search-bar-height: 68px;

.title-search-bar {
  position: relative;
  overflow: visible;
  -webkit-app-region: drag;
  height: @search-bar-height;
  min-height: @search-bar-height;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
}
.thread-title {
  float:left;
  width: 40%;
  -webkit-app-region: drag;
  height: @search-bar-height;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  h1 {
    padding-left: 20px;
    visibility: hidden;
    margin: 0;
    font-size: 32px;
    line-height: @search-bar-height;
  }
}
.sheet-toolbar{
  .item-container{
    .title-search-bar{
      -webkit-app-region: drag;
    }
  }
  .toolbar-MessageList {
    .item-container {
      -webkit-app-region: drag;
    }
  }
}
