@import 'ui-variables';
@import 'ui-mixins';

@scrollbar-margin: 8px;
@read-bg-color: #fbfbfd;

// MIXINS

.inverseContent() {
  // Note: these styles are also applied below
  // subpixel antialiasing looks awful against dark background colors
  // -webkit-font-smoothing: antialiased;

  // color: @text-color-inverse;

  // .participants {
  //   .unread-true {
  //     font-weight: @font-weight-normal;
  //   }
  // }
  // .subject {
  //   font-weight: @font-weight-normal;
  // }

  // .thread-icon,
  // .draft-icon,
  // .mail-important-icon {
  //   -webkit-filter: brightness(600%) grayscale(100%);
  // }

  // .mail-label {
  //   // Note - these !important styles override values set by a style tag
  //   // since the color of the label is detemined programatically.
  //   background: fade(@text-color-inverse, 20%) !important;
  //   box-shadow: none !important;
  //   -webkit-filter: brightness(600%) grayscale(100%);
  // }
}

// STYLES

*:focus,
input:focus {
  outline: none;
}

.thread-list,
.draft-list {
  .list-container,
  .scroll-region {
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    .scroll-region-content{
      height: calc(~"100% - 40px");
    }
    &.has-empty-bar {
      .scroll-region-content{
        height: calc(~"100% - 75px");
      }
    }
  }

  .swipe-backing {
    background-color: darken(@background-primary, 10%);
    &::after {
      color: fade(white, 90%);
      padding-top: 45px;
      text-align: center;
      font-weight: 400;
      font-size: @font-size-small;
      position: absolute;
      top: 0;
      transform: translateX(0%);
      width: 80px;
      bottom: 0;
      opacity: 0.8;
      transition: opacity linear 150ms;
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 24px 24px;
    }

    &.swipe-trash {
      transition: background-color linear 150ms;
      background-color: mix(#f94040, @background-primary, 75%);
      &::after {
        transition: left linear 150ms, transform linear 150ms;
        content: 'Trash';
        left: 0;
        background-image: url(../static/images/swipe/icon-swipe-trash@2x.png);
      }
      &.confirmed {
        background-color: #f94040;
        &::after {
          left: 100%;
          transform: translateX(-100%);
          opacity: 1;
        }
      }
    }
    &.swipe-archive,
    &.swipe-all {
      transition: background-color linear 150ms;
      background-color: mix(#57d56f, @background-primary, 75%);
      &::after {
        transition: left linear 150ms, transform linear 150ms;
        content: 'Archive';
        left: 0;
        background-image: url(../static/images/swipe/icon-swipe-archive@2x.png);
      }
      &.confirmed {
        background-color: #57d56f;
        &::after {
          left: 100%;
          transform: translateX(-100%);
          opacity: 1;
        }
      }
    }
    &.swipe-snooze {
      transition: background-color linear 150ms;
      background-color: mix(#fecb2f, @background-primary, 75%);
      &::after {
        transition: right linear 150ms, transform linear 150ms;
        content: 'Snooze';
        right: 0;
        background-image: url(../static/images/swipe/icon-swipe-snooze@2x.png);
      }
      &.confirmed {
        background-color: #fecb2f;
        &::after {
          right: 100%;
          transform: translateX(100%);
          opacity: 1;
        }
      }
    }
  }

  .list-item {
    background-color: @read-bg-color;
    line-height: 55px;
  }

  .mail-important-icon {
    margin-left: 6px;
    padding: 12px;
    vertical-align: initial;
    &:not(.active) {
      visibility: hidden;
    }
  }

  .message-count {
    color: @text-color-inverse;
    background: @background-tertiary;
    padding: 4px 6px 2px 6px;
    margin-left: 1em;
  }

  .draft-icon {
    margin-left: 10px;
    flex-shrink: 0;
    object-fit: contain;
  }

  .participants {
    font-size: @font-size + 1px;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    line-height: 24px;

    &.no-recipients {
      color: @text-color-very-subtle;
    }
  }

  .details {
    display: flex;
    align-items: center;
    overflow: hidden;

    .subject {
      font-size: @font-size + 1px;
      font-weight: @font-weight-normal;
      padding-right: @padding-base-horizontal;
      text-overflow: ellipsis;
      overflow: hidden;

      // Shrink, but only after snippet has shrunk
      flex-shrink: 0.1;
    }
    .snippet {
      font-size: @font-size + 1px;
      font-weight: @font-weight-normal;
      text-overflow: ellipsis;
      overflow: hidden;
      opacity: 0.62;
      flex: 1;
    }
    .thread-icon {
      margin-right: @padding-base-horizontal;
      margin-left: @padding-base-horizontal;
    }
  }
  .list-column-Participants {
    padding-left: 0px;
  }
  .list-column-State {
    display: flex;
    align-items: center;
  }
  .list-column-Date {
    text-align: right;
    .timestamp {
      min-width: 30px;
    }
  }

  .timestamp {
    font-size: @font-size-small;
    font-weight: @font-weight-normal;
    min-width: 70px;
    margin-right: 13px;
    opacity: 0.62;
  }

  .unread:not(.focused):not(.selected) {
    background-color: @background-primary;
    &:hover {
      background: @white;
    }
    .timestamp {
      color: @blue;
      opacity: 1;
    }
  }

  .unread:not(.focused) {
    // Never show any unread styles when the thread is focused.
    // It will be marked as read and the delay from focus=>read
    // is noticeable.
    .participants {
      .unread-true {
        font-weight: @font-weight-semi-bold;
      }
    }
  }

  .unread {
    // Never show any unread styles when the thread is focused.
    // It will be marked as read and the delay from focus=>read
    // is noticeable.
    .participants {
      font-weight: @font-weight-semi-bold;
    }
  }

  .focused {
    .inverseContent;
  }

  .thread-injected-icons {
    vertical-align: top;
  }
  .thread-injected-mail-labels {
    margin-right: 6px;
  }
  .thread-icon-pencil {
    background-color: @gray-light;
    margin: auto 4px;
  }
  .thread-icon {
    width: 25px;
    height: 24px;
    flex-shrink: 0;
    background-size: 12px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

    .icon-mixin(@svg-url, @bgColor: @gray-light, @bgSize: 16px 16px) {
      -webkit-mask-image: url(@svg-url);
      -webkit-mask-size: @bgSize;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      background-color: @bgColor;
    }

    &.thread-icon-attachment {
      .icon-mixin('../static/icons/feed-attachments.svg');
      margin: auto;
    }
    &.thread-icon-unread {
      .icon-mixin('../static/icons/menu-unread.svg', @blue, auto);
    }
    &.thread-icon-replied {
      .icon-mixin('../static/icons/feed-reply.svg', @gray-light);
    }
    &.thread-icon-forwarded {
      .icon-mixin('../static/icons/feed-forward.svg', @gray-light);
    }
    &.thread-icon-star {
      .icon-mixin('../static/icons/flag.svg',@orange, 24px);
    }
  }
  .star-button {
    font-size: 16px;
    .fa-star {
      color: rgb(239, 209, 0);
      &:hover {
        cursor: pointer;
        color: rgb(220, 220, 220);
      }
    }
    .fa-star-o {
      color: rgb(220, 220, 220);
      &:hover {
        cursor: pointer;
        color: rgb(239, 209, 0);
      }
    }
  }
}

.thread-list-empty-folder-bar {
  color: fade(@black, 60%);
  background-color: fade(@blue, 10%);
  padding: @padding-base-vertical @padding-base-vertical @padding-base-vertical
    21px;
  align-items: center;
  display: flex;
  font-size: 0.9em;
  flex-shrink: 0;
  width: 100%;

  .notice {
    flex: 1;
    padding-right: @padding-base-horizontal;
  }
  .btn {
    flex-shrink: 0;
    color: @blue;
    font-size: 11px;
    font-weight: 700;
    border: none;
    box-shadow: none;
    background: none;
    cursor: pointer;
    padding-right: 20px;
    height: 24px;
    line-height: 25px;
  }
}

// quick actions
@archive-img: '../static/images/thread-list-quick-actions/ic-quick-button-archive@2x.png';
@trash-img: '../static/images/thread-list-quick-actions/ic-quick-button-trash@2x.png';
@snooze-img: '../static/images/thread-list-quick-actions/ic-quickaction-snooze@2x.png';

@hoverActionsHeight: 55px;
.thread-list .list-item .list-column-HoverActions {
  display: none;
  height: @hoverActionsHeight;
  .action {
    display: inline-block;
    margin-left: 11px;
    position: relative;
    &.flagged {
      img.content-mask {
        background-color: @orange;
      }
    }
    img.content-mask {
      margin-top: -3px;
       background-color: @gray;
       position: relative;
       z-index: 2;
    }
    &:hover {
      &:after {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background: @off-white;
        display: block;
        position: absolute;
        top: 10px;
        left: -6px;
        animation: growUp 0.4s;
      }
      @keyframes growUp {
        from {
          opacity: 0.7;
          transform: scale(0.5);
        }
        to {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
    &:active {
      &:after {
        background: @extra-light-grey;
      }
      img {
        background-color: @dark-grey;
      }
    }
  }
  .dt-icon {
    font-size: 24px;
    line-height: @hoverActionsHeight;
  }
  .action.action-archive {
    //background: url(@archive-img) center no-repeat, @background-gradient;
  }
  .action.action-trash {
    //background: url(@trash-img) center no-repeat, @background-gradient;
  }
  .action.action-snooze {
    background: url(@snooze-img) center no-repeat, @background-gradient;
  }
}
body.platform-win32 {
  .thread-list .list-item .list-column-HoverActions {
    .action {
      border: 0;
      margin: 9px 0 0 0;
    }
  }
}
.thread-list .list-item:hover .list-column-HoverActions {
  width: 0;
  padding: 0;
  display: block;
  overflow: visible;
  height: 100%;

  .inner {
    position: relative;
    width: 300px;
    height: 100%;
    left: -300px;
    .thread-injected-quick-actions {
      margin-right: 16px;
    }
  }
}

.thread-list .list-item:hover .list-column-HoverActions .inner {
  background-image: -webkit-linear-gradient(
    left,
    fade(@white, 0%) 0%,
    @white 50%,
    @white 100%
  );
}

.thread-list .list-item.selected:hover .list-column-HoverActions .inner {
  background-image: -webkit-linear-gradient(
    left,
    fade(@white, 0%) 0%,
    @white 50%,
    @white 100%
  );
}

.thread-list .list-item.focused:hover .list-column-HoverActions .inner {
  background-image: -webkit-linear-gradient(
    left,
    fade(@white, 0%) 0%,
    @white 50%,
    @white 100%
  );
  // .action {
  //   -webkit-filter: brightness(300%);
  // }
  .action.action-archive {
    //background: url(@archive-img) center no-repeat;
  }
  .action.action-trash {
    //background: url(@trash-img) center no-repeat;
  }
  .action.action-snooze {
    background: url(@snooze-img) center no-repeat;
  }
}

// stars

.thread-list .thread-icon-star:hover {
  -webkit-filter: brightness(90%);
}
// quanzs comment out
.mode-split {
  .thread-list .list-item .thread-icon-none {
    width: 0;
    height: 0;
    // transition-duration: 0.4s;
  }
  // .thread-list .list-item:hover .thread-icon-none {
  //   width: 25px;
  // }
}
.thread-list .list-item:hover .thread-icon-none:hover {
  background-image: url(../static/images/thread-list/icon-star-action-hover-@2x.png);
  background-size: 16px;
}
.thread-list .list-item:hover .thread-icon-none {
  background-image: url(../static/images/thread-list/icon-star-hover-@2x.png);
  background-size: 16px;
}
.thread-list .list-item:hover .mail-important-icon.enabled {
  visibility: inherit;
}
.thread-list .thread-icon-star-on-hover:hover {
  -webkit-mask-image: url(../static/icons/flag.svg);
  -webkit-mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: @gray;
  -webkit-filter: brightness(150%);
}

.thread-list .avatar-icon {
  height: 30px;
  width: 30px;
  line-height: 31px;
  text-align: center;
  font-size: 20px;
  color: @white;
  border-radius: 50%;
}

.thread-list-narrow {
  .empty-folder-bar {
    width: 100%;
  }
  .thread-list-empty-folder-bar {
    padding-left: 24px;
  }
  .list-tabular .selection-bar .multiselect-toolbar-root .inner .checkmark {
    width: 66px;
    margin-right: 3px;
    cursor: pointer;
    &::after {
      content: '';
      height: 18px;
      width: 18px;
      border-radius: 50%;
      background: rgba(0,0,0,0.15);
      display: none;
      position: absolute;
    }
    &:hover {
      &:after {
        display: block;
        animation: growUp 0.4s;
      }
    }
  }
  .icons-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40px;
    margin: 0 15px;
    .avatar-icon {
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      font-size: 24px;
      color: @white;
      border-radius: 50%;
    }
    .thread-injected-icons {
      align-items: center;
    }
  }
  .thread-info-column {
    flex: 1;
    align-self: center;
    overflow: hidden;

    .participants-wrapper {
      display: flex;
      align-items: center;
      min-height: 24px;
    }
  }
  .list-column {
    display: block;
  }
  .list-tabular-item {
    line-height: 21px;
    box-shadow: none;
  }

  // .list-tabular-item:not(.selected):not(.focused):not(.next-is-selected):after {
  //   content: "";
  //   background: @border-color-divider;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0%;
  //   height: 1px;
  //   width: 100%;
  // }

  .timestamp {
    order: 100;
    min-width: 0;
    color: #afbec9;
    opacity: 1;
  }
  .participants {
    font-size: @font-size-large;
  }

  .mail-important-icon {
    margin-left: 1px;
    float: left;
    padding: 12px;
    vertical-align: initial;
  }

  .subject {
    font-size: @font-size-base + 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color: @black;
    margin-right: @scrollbar-margin;
    padding-right: 20px;
    position: relative;
    span {
      opacity: 0.7;
    }
    .thread-icon {
      position: absolute;
      right: 4px;
      top: 0;
      width: 20px;
      -webkit-mask-size: 18px;
    }
  }
  .snippet-and-labels {
    margin-right: @scrollbar-margin;
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    .mail-label {
      font-size: 0.8em;
      line-height: 17px;
      margin: 1px 1px 0 0;
      &:after {
        visibility: hidden;
      }
    }

    .snippet {
      font-size: @font-size-small;
      overflow: hidden;
      text-overflow: ellipsis;
      opacity: 1;
      color: @medium-grey;
      text-align: left;
      height: 32px;
      line-height: @font-size-small + 4px;
      margin-right: 4px;
      word-break: break-word;
      white-space: normal;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      flex: 1;
      .skeleton {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        div {
          background: @gray-lighter;
          height: 15px;
          border-radius: 4px;
        }
        div:first-child {
          width: 100%;
        }
        div:last-child {
          width: 70%;
        }
      }
      // .skeleton {
      //   height: 100%;
      //   background-repeat: no-repeat;
      //   background-image: linear-gradient(red 16px, transparent 0), 
      //   linear-gradient(white 20px, transparent 0), 
      //   linear-gradient(gray 36px, transparent 0);
      // }
    }
    .icons {
      height: 32px;
      width: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .thread-icon-unread {
        display: none;
      }
      .mail-important-icon {
        margin-bottom: -1px;
      }
    }
  }
}

// selection looks like focus in split mode

.thread-list.handler-split {
  .list-item {
    &.selected:not(:hover) {
      background: @list-focused-bg;
      color: @list-focused-color;
      border-right: 0;
      .inverseContent;
    }
  }
  .list-item.selected:hover .list-column-HoverActions .inner {
    background-image: -webkit-linear-gradient(
      left,
      fade(@white, 0%) 0%,
      @white 50%,
      @white 100%
    );
    // .action {
    //   -webkit-filter: brightness(300%);
    // }
    .action.action-archive {
      //background: url(@archive-img) center no-repeat;
    }
    .action.action-trash {
      //background: url(@trash-img) center no-repeat;
    }
    .action.action-snooze {
      background: url(@snooze-img) center no-repeat;
    }
  }
}
body.is-blurred {
  .thread-list.handler-split {
    .list-item {
      &.selected:not(:hover) {
        background: @list-focused-bg;
        color: @text-color;
      }
    }
  }
}
