@import 'ui-variables';

.preferences-wrap {
  .container-privacys {
    .config-group {
      margin-bottom: 32px;
      max-width: 480px;

      .privacys-note {
        color: @gray;
        line-height: 18px;
        margin-bottom: 20px;
      }
      .privacys-link {
        color: @text-color-link;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 18px;
        a {
          text-decoration: none;
        }
      }
      .privacys-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin-bottom: 15px;
        font-size: 11px;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }
}

.privacys-opt-out-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  img {
    height: 120px;
    width: 120px;
  }

  h3 {
    font-weight: @font-weight-semi-bold;
  }

  p {
    width: 380px;
    text-align: center;
    color: @text-color-very-subtle;
  }

  .modal-btn-confirm {
    color: @text-color-link;
    font-weight: @font-weight-semi-bold;
  }

  .modal-btn-cancel {
    color: @text-color-very-subtle;
    font-weight: @font-weight-semi-bold;
  }
}
