@import 'ui-variables';
@import 'ui-mixins';

// Preferences Specific

.preferences-wrap {
  width: 100%;
  height: 100%;
  background-color: @background-primary;
  color: @text-color;

  search-match {
    background: @text-color-search-match;
    border-radius: 2px;
    padding: 2px 0;
    // box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.25);
    &.current-match {
      background: @text-color-search-current-match;
    }
  }

  .btn-default() {
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
    font-family: 'SF UI Text';
    font-weight: @headings-font-weight;
    border: 0.5px solid @gray-lighter;
    box-shadow: 0 0.5px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .btn-primary {
    color: @blue;
    .btn-default();
  }
  .btn-danger {
    color: @color-danger;
    .btn-default();
  }

  .buttons-add {
    width: 250px;
    margin-top: 30px;
  }

  .button-dropdown {
    margin-left: 8px;
    &.bordered {
      border: 1px solid @dropdown-default-border-color;
      color: @dropdown-default-text-color;
      background: @dropdown-default-bg-color;
      border-radius: 5px;
    }
    .only-item {
      position: relative;
      border-radius: 5px;
      padding-right: 0;
      span + img {
        visibility: hidden;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        height: 100%;
        width: 10px;
        pointer-events: none;
        right: 4px;
        top: 0;
        -webkit-appearance: menulist;
      }
    }
    .secondary-items {
      max-height: 260px;
      overflow: auto;
    }
  }
  .item-back {
    position: absolute;
    top: 22px;
    left: 20px;
    z-index: 9999;
    cursor: pointer;
    img.content-mask {
      background-color: @gray;
    }
  }
  .item-back-title {
    display: inline-block;
  }
  input[type='checkbox'] {
    margin: 0 7px 0 0;
    position: relative;
    top: -1px;
  }
  input[type='radio'] {
    margin: 0 7px 0 0;
    position: relative;
    top: -1px;
  }

  .config-group {
    max-width: 700px;
    padding: 29px 30px 33.5px;
    border-bottom: 1px solid @border-color-divider;
    h6 {
      color: @gray-light;
      font-family: 'SF UI Text';
      font-size: 11px;
      font-weight: 700;
      line-height: 33px;
      margin: 0;
    }

    .item {
      padding: 6.5px 0;
      line-height: 21px;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  p {
    color: @text-color-very-subtle;
    font-size: @font-size-smaller;

    a {
      color: @text-color-very-subtle;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  *[contenteditable] {
    p {
      color: @text-color;
      font-size: @font-size-base;
    }
  }

  .container-preference-tabs {
    width: 231px;
    flex: 0 0 auto;
    background-color: @source-list-bg;
    padding-top: 98px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.1);
    z-index: 10;

    .item {
      cursor: default;
      width: 100%;
      height: 40px;
      padding-left: 60px;

      &.active {
        background: @source-list-active-bg;
        .name {
          color: @blue;
          font-weight: 600;
          font-weight: @font-weight-semi-bold;
        }
      }

      .name {
        white-space: nowrap;
        font-family: 'SF UI Text';
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        line-height: 40px;
      }
    }
  }

  .searchBar {
    widows: 100%;
    height: 68px;
    background-color: @source-list-bg;
    border-bottom: 1px solid @border-color-divider;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;

    .tabName {
      line-height: 40px;
      font-family: 'SF UI Display';
      font-size: 32px;
      font-weight: 700;
      letter-spacing: 0.01px;
    }

    .nylas-input-search {
      width: 50%;
    }
  }

  .preferences-content {
    flex: 8;
    background-color: lighten(@background-secondary, 1%);
    & > .scroll-region-content {
      padding: 0 10px;
    }
    .container-dropdown {
      margin: 5px 0;
      .dropdown {
        padding-left: 10px;
      }
    }
  }

  .platform-note {
    font-size: @font-size;
    line-height: 16px;
    color: @gray-base;
    padding: 12px 20px;
    border-radius: @border-radius-base;
    background-color: @background-off-primary;
    margin-top: 6.5px;

    &:before {
      color: @color-info;
      font-weight: 600;
      content: 'Note: ';
    }
  }
  .platform-linux-only {
    display: none;
  }
}

body.platform-win32 {
  .preferences-wrap {
    .well {
      border-radius: 0;
    }
    .container-appearance {
      .appearance-mode {
        cursor: pointer;
        border-radius: 0;
      }
    }
  }
}

body.platform-linux {
  .preferences-wrap {
    .platform-linux-only {
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .preferences-wrap {
    .container-preference-tabs {
      .preferences-tabs .item img.tab-icon {
        margin-bottom: 10px;
      }
      .preferences-tabs .item .name {
        display: none;
      }
    }
    .preferences-content > .scroll-region-content {
      padding-left: @padding-large-horizontal * 1;
      padding-right: @padding-large-horizontal * 1;
    }
  }
}
