@import 'ui-variables';

.preferences-wrap {
  .container-privacys {
    .config-group {
      margin-bottom: 32px;
      max-width: 480px;

      .privacys-note {
        color: @gray;
        line-height: 18px;
        margin-bottom: 20px;
      }
      .privacys-link {
        color: @text-color-link;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 18px;
      }
      .privacys-button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin-bottom: 15px;
        font-size: 11px;

        &:not(:first-child) {
          margin-left: 20px;
        }
      }
    }
  }
}
