@import 'ui-variables';

@blurred-primary-color: mix(@background-primary, #ffbb00, 96%);

// Styles for Preferences Signatures
.preferences-signatures-container {
  .signatures-note {
    padding: 4px 0 7px;
    color: @gray;
    line-height: 18px;
  }

  .empty-list {
    height: 300px;
    width: inherit;
    background-color: @background-primary;
    border: 1px solid @border-color-divider;
    text-align: center;
    padding: 60px;

    .icon-signature {
      height: 120px;
    }

    h2 {
      color: @text-color-very-subtle;
    }

    .btn {
      margin-top: 10px;
    }
  }

  .signature-list {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 282px;
    padding: 40px 0 0 12px;

    .list-item {
      padding: 14px 30px 13px;
      border-radius: 10px 0 0 10px;

      .title {
        height: 20px;
        line-height: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .use-account {
        color: @gray;
        font-size: 11px;
        font-style: italic;
        line-height: 13px;
      }
    }

    .item-rule-disabled {
      color: @color-error;
      padding: 4px 10px;
      border-bottom: 1px solid @border-color-divider;
    }
    .selected .item-rule-disabled {
      color: @component-active-bg;
    }
  }

  .signature-wrap {
    flex: 1;
    border-left: 1px solid @border-color-divider;
    padding: 15px 20px;

    &.empty {
      opacity: 0.5;
      pointer-events: none;
    }

    .section.basic-info {
      input {
        border: none;
        outline: none;
        box-shadow: none;
        max-width: 300px;
        color: @gray-light;
        font-size: 24px;
        font-weight: 700;
        line-height: 64px;
        padding: 0;
        background: none;
        &::placeholder {
          color: @gray-lighter;
        }
      }
    }

    .section-header {
      margin-top: 10px;
      &:first-child {
        margin-top: 0;
      }
    }

    textarea.raw-html {
      font-family: monospace;
      font-size: 0.9em;
      width: 100%;
      height: 240px;
      padding: @padding-base-horizontal;
    }

    .RichEditor-root {
      padding: 10px;
      padding-top: 2px;
      min-height: 248px;
      .RichEditor-toolbar {
        .hide-in-composer {
          display: none;
        }
      }
    }

    .signature-template-picker {
      height: 58px;
      overflow-x: scroll;
      overflow-y: hidden;
      background: mix(@background-secondary, @black, 97%);
      white-space: nowrap;

      .option {
        width: 100px;
        height: 50px;
        overflow: hidden;
        display: inline-block;
        border: 1px solid @border-color-divider;
        background: @background-primary;
        position: relative;
        margin-top: 4px;
        margin-left: 4px;
        &:last-child {
          margin-right: 4px;
        }

        .centered {
          align-items: center;
          justify-content: center;
          white-space: initial;
          flex-shrink: 0;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          display: flex;

          .preview {
            pointer-events: none;
            transform: scale(0.25);
          }
        }
        &.active {
          border: 1px solid @component-active-color;
        }
      }
    }

    .section.preview {
      padding: @padding-base-horizontal;
      min-height: 180px;
      .label {
        font-size: 0.9em;
        color: @text-color-very-subtle;
        float: right;
        border-radius: 5px;
        padding: 0 5px;
        color: lightgray;
      }
    }

    .section.editor {
      border: 1px solid @border-color-divider;
      margin-bottom: 13.5px;
    }

    .section.information {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: @padding-base-horizontal 0;

      .field.photo-picker {
        display: block;
        width: 100%;

        .photo-well {
          width: 60px;
          height: 60px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          border: 1px solid @input-border-color;
          margin-right: @padding-base-horizontal;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover,
          &.dropping {
            border: 1px solid @accent-primary-dark;
          }
        }
        .photo-options {
          flex: 1;
          display: flex;
          flex-direction: column;
          align-items: baseline;
          justify-content: space-between;
        }

        select {
          margin: 0;
        }
        .drop-note {
          font-size: @font-size-smaller;
          color: @text-color-very-subtle;
          margin-top: 4px;
        }
      }

      .field {
        label {
          color: @text-color-very-subtle;
          margin-right: 20px;
        }
        padding: @padding-base-vertical @padding-base-horizontal;
        width: 50%;
      }
    }

    .account-picker {
      line-height: 29px;
      input {
        height: 14px;
        width: 14px;
        border-radius: 3px;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        outline: none;
        box-shadow: inset 0 0.5px 1.5px 0 rgba(0, 0, 0, 0.38);
      }
    }
  }
}

// Styles for account-contact-field signature selector
.message-item-white-wrap.composer-outer-wrap {
  .composer-participant-field {
    .dropdown-component {
      display: inline-block;
      float: right;

      .signature-button-dropdown {
        .only-item {
          background: @blurred-primary-color;
          box-shadow: none;
          padding-right: 0;
        }

        img.content-mask {
          display: none;
          background-color: @gray;
        }
        img.signature-button {
          display: inline-block;
          background-color: @btn-icon-color;
        }

        .button-dropdown {
          &.open {
            img.signature-button {
              background-color: @component-active-color;
            }
          }
          .secondary-items {
            right: 0;
            left: auto;
            .menu {
              .header-container {
                display: inline-block;
                padding: 0;
              }
              .footer-container {
                display: inline-block;
                border-top: 1px solid #dddddd;
              }
              .item {
                padding: 5px 20px 5px 20px;
              }
              .item.checked {
                background-image: url(images/menu/osx-checkmark@2x.svg);
                background-position: left;
                background-position-x: 5%;
                background-size: 10px;
                background-repeat: no-repeat;
              }
            }
          }
        }
      }
    }
  }
  &.focused {
    .composer-participant-field {
      .dropdown-component {
        .only-item {
          background: @background-primary;
        }
      }
    }
  }
}
.composer-full-window {
  .message-item-white-wrap.composer-outer-wrap
    .composer-participant-field
    .dropdown-component
    .signature-button-dropdown
    .only-item {
    cursor: pointer;
    background: @background-primary;
    &:hover {
      img.content-mask {
        background-color: @blue;
      }
    }
  }
}
