@import 'ui-variables';

.component_modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  .component_modal_wrap {
    height: 100%;
    width: 100%;
    background: fade(@black, 70%);
  }
  .modal_content {
    position: absolute;
    height: 500px;
    width: 752px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: @background-primary;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1), 0 20px 30px 0 rgba(0, 0, 0, 0.2);

    .modal-close {
      position: absolute;
      top: -36px;
      right: -36px;
      background: @background-primary;
      cursor: pointer;
    }
  }
}
