@import 'ui-variables';

.selection-bar-absolute-enter {
  opacity: 0;
  // .inner {
  //   top: -100%;
  // }
}

.selection-bar-absolute-enter.selection-bar-absolute-enter-active {
  opacity: 1;
  // .inner {
  //   top: 0;
  // }
}

.selection-bar-absolute-leave {
  opacity: 1;
  // .inner {
  //   top: 0;
  // }
}

.selection-bar-absolute-leave.selection-bar-absolute-leave-active {
  opacity: 0;
  // .inner {
  //   top: -100%;
  // }
}

.thread-list-wide {
  .list-tabular .selection-bar,
  .sheet-toolbar .selection-bar {
    .absolute {
      right: -1px;
    }
  }
}

.list-tabular .selection-bar,
.sheet-toolbar .selection-bar {
  // This item sits in the toolbar and takes up all the remaining
  // space from the toolbar-spacer divs, but flex-shrink means that
  // it shrinks before any other element when not enough space is available.

  // This is important because the spacers will prevent items from being clickable,
  // (webkit-app-region:drag) even if we're covering them up. We need to make them
  // 0px wide!

  width: 100%;
  // If this value changes,
  // we must change thread-list .scroll-region-content,
  // and list-tabular.jsx offset height
  min-height: 40px;
  z-index: 99;
  flex: 0 0 40px;
  position: relative;
  .multiselect-toolbar-root {
    position: relative;
    min-height: 40px;
    border-bottom: 1px solid @border-color-primary;
    border-right: 1px solid @border-color-divider;
    background-color: @background-primary;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &.has-shadow {
      transition: box-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    }

    .divider {
      height: 30px;
      width: 1px;
      background: @border-color-divider;
      display: inline-block;
      margin: 0 5px;
    }

    .inner {
      width: 100%;
      height: 100%;
      min-height: 40px;
      align-items: center;
      display: flex;
      -webkit-app-region: no-drag;
      transition: top 0.2s ease-in-out;
      white-space: nowrap;

      .checkmark.selected {
        &:before {
          .icon-mixin('../static/icons/check.svg', @blue, 24px);
        }
      }
      .checkmark.some-selected {
        &:before {
          .icon-mixin('../static/icons/some-selected.svg', @blue, 24px);
        }
      }
      .checkmark {
        margin: 0 17px 0 0;
        height: 18px;
        width: 54px;
        padding: 18px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:hover {
          &:after {
            display: block;
            animation: growUp 0.4s;
          }
        }
        &:after {
          content: '';
          height: 28px;
          width: 28px;
          border-radius: 8px;
          background: rgba(0,0,0,0.15);
          display: none;
          position: absolute;
        }
        &:before {
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          .icon-mixin('../static/icons/check-empty.svg', @gray-lighter, 24px);
        }
      }

      &>div {
        align-items: center;
      }

      .centered {
        flex: 1;
        cursor: default;
        text-align: center;
        color: @text-color-subtle;
        line-height: 55px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -webkit-app-region: drag;
      }

      .selection-label {
        line-height: 22px;
      }

      .updated-time {
        color: @gray;
        font-size: 11px;
        line-height: 13px;
        .toolbar-unread-count {
          margin-left: 5px;
        }
      }

      .btn-clear-all,
      .btn-toggle-select-all {
        margin-left: 11px;
        height: 22px;
        border-radius: 11px;
        line-height: 22px;
        //background: @off-white;
        padding: 0 12px;
        box-shadow: none;
        color: @blue;
      }

      .button-group.thread-more {
        margin-left: auto;
      }
      .btn-toolbar {
        position: relative;
        padding: 0 5px;
        margin-top: 0;
        box-shadow: none;
        background: transparent;
        &.flagged {
          img.content-mask {
            background-color: @orange;
          }
        }
        img.content-mask {
          background-color: @gray;
          position: relative;
          z-index: 2;
        }
        &.btn-selection-filter {
          position: absolute;
          left: 33px;
          height: 100%;
          display: flex;
          cursor: pointer;
          &:hover {
            &::after {
              content: '';
              display: block;
              position: absolute;
              height: 36px;
              width: 76%;
              border-radius: 5px;
              left: 12%;
              top: auto;
            }
          }
        }
        &:hover {
          &:after {
            content: '';
            height: 32px;
            width: 32px;
            border-radius: 50%;
            background: @off-white;
            display: block;
            position: absolute;
            top: -3px;
            left: 1px;
            animation: growUp 0.4s;
          }
          @keyframes growUp {
            from {
              opacity: 0.7;
              transform: scale(0.5);
            }
            to {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        &:active {
          &:after {
            background: @extra-light-grey;
          }
          img {
            background-color: @dark-grey;
          }
        }
      }

      .toolbar-buttons {
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        height: auto !important;
        .button-group {
          display: flex;
          align-items: center;
          .btn-more,
          &.reply-button-group {
            display: none;
          }
        }
        .btn {
          height: auto;
        }
      }
    }
  }

  .absolute {
    background: #fff;
    position: absolute;
    left: -1px;
    right: 0px;
    top: 0px;
    height: 40px;
    border-bottom: 1px solid @border-color-primary;
    border-left: 1px solid @border-color-divider;
    border-right: 1px solid @border-color-divider;
    // border-right: 1px solid @border-color-divider;
    background-color: @background-primary;
    transition: opacity 0.2s ease-in-out;

    .inner {
      //position: absolute;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      -webkit-app-region: no-drag;
      transition: top 0.2s ease-in-out;
      white-space: nowrap;

      .checkmark.selected {
        &:before {
          .icon-mixin('../static/icons/check.svg', @blue, 24px);
        }
      }
      .checkmark.some-selected {
        &:before {
          .icon-mixin('../static/icons/some-selected.svg', @blue, 24px);
        }
      }
      .checkmark {
        margin: 0 17px 0 0;
        height: 18px;
        width: 54px;
        padding: 18px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &:after {
          margin-top: -7px;
          margin-left: 6px;
        }
        &:before {
          content: '';
          display: block;
          height: 24px;
          width: 24px;
          .icon-mixin('../static/icons/check-empty.svg', @gray-lighter, 24px);
        }
      }

      &>div {
        align-items: center;
      }

      .centered {
        flex: 1;
        cursor: default;
        text-align: center;
        color: @text-color-subtle;
        line-height: 55px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -webkit-app-region: drag;
      }

      .selection-label {
        line-height: 22px;
      }

      .updated-time {
        color: @gray;
        font-size: 11px;
        line-height: 13px;
      }

      .btn-clear-all,
      .btn-toggle-select-all {
        margin-left: 11px;
        height: 22px;
        border-radius: 11px;
        line-height: 22px;
        background: @off-white;
        padding: 0 12px;
        box-shadow: none;
        color: @blue;
      }

      .btn-toolbar {
        position: relative;
        padding: 0 5px;
        margin-top: 0;
        box-shadow: none;
        background: transparent;
        img.content-mask {
          background-color: @gray;
          position: relative;
          z-index: 2;
        }
        &:hover {
          &:after {
            content: '';
            height: 36px;
            width: 36px;
            border-radius: 50%;
            background: @off-white;
            display: block;
            position: absolute;
            top: -5px;
            left: 0;
            animation: growUp 0.4s;
          }
          @keyframes growUp {
            from {
              opacity: 0.7;
              transform: scale(0.5);
            }
            to {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
        &:active {
          &:after {
            background: @extra-light-grey;
          }
          img {
            background-color: @dark-grey;
          }
        }
      }

      .toolbar-buttons {
        flex: 1;
        justify-content: flex-start;
        align-items: center;
        height: auto !important;
        .btn {
          height: auto;
        }
      }
    }
  }
}

.sheet-toolbar .selection-bar {
  display: none;
  .absolute {
    top: 68px;
  }
}

.mode-split {
  .list-container {
    .scroll-region {
      border-right: 1px solid @extra-light-grey;
    }
  }
}

// split mode
.thread-list-narrow {
  .list-tabular .list-tabular-item {
    &.selected.focused,
    &.selected {
      .checkmark .inner {
        .icon-mixin('../static/icons/check.svg', @blue, 24px);
        border: none;
      }
    }
    &:hover .list-column-HoverActions {
      position: absolute;
      right: 0;
      top: 0;
      max-height: 55px;
      .thread-injected-quick-actions {
        padding-top: 11px;
        max-height: 40px;
      }
      .action:hover:after {
        top: -7px;
      }
    }
  }


  .selection-label,
  .btn-clear-all,
  .btn-toggle-select-all {
    display: none;
  }

  .list-tabular .selection-bar .multiselect-toolbar-root .inner .btn-toolbar.btn-selection-filter {
    left: 39px;
  }

  .list-column:first-child {
    padding-left: 0;
  }

  .list-column.list-column-Check {
    left: 26px;
    top: 61px;
    width: 18px;
    height: 18px;
    position: absolute;
    &::after {
      display: none;
    }
    .checkmark {
      padding: 18px;
      position: absolute;
      top: -18px;
      left: -18px;
      cursor: pointer;
      &::after {
        content: '';
        height: 28px;
        width: 28px;
        border-radius: 8px;
        background: rgba(0,0,0,0.15);
        display: none;
        position: absolute;
        top: 13px;
        left: 13px;
      }
      &:hover {
        &:after {
          display: block;
          animation: growUp 0.4s;
        }
      }
      .inner {
        width: 18px;
        height: 18px;
        .icon-mixin('../static/icons/check-empty.svg', @gray-lighter, 24px);
        &::after {
          display: none;
        }
      }
    }
  }
}

.list-container {
  .list-header {
    overflow: hidden;
    h1 {
      padding: 0;
      font-size: 32px;
      line-height: 32px;
      margin: 15px auto 0 16px;
      letter-spacing: 0.01;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: visible;
    }
  }
  .list-rows > div {
    // Note: This allows rows to be animated in and out!
    transition: top ease-out 120ms;
    &:hover {
      z-index: 9;
    }
  }
  .list-item {
    font-size: @font-size-base;
    color: @text-color;
    background: @list-bg;
    transition-property: box-shadow;
    transition-duration: 0.3s;

    &:hover {
      background-color: #FFF;
      z-index: 9;
      box-shadow: 0 2px 10px rgba(0,0,0,0.12);
      // &:after {
      //   content: '';
      //   position: absolute;
      //   width: 100%;
      //   top: -1px;
      //   height: 1px;
      //   display:block;
      //   background: @white;
      // }
    }

    &.selected:not(:hover){
      background: @list-selected-bg;
      color: @list-selected-color;
      border-bottom: 1px solid @border-color-secondary;
    }

    &.next-is-selected {
      border-bottom: 1px solid @border-color-secondary;
    }

    &.focused {
      background: @list-focused-bg;
      color: @list-focused-color;
      border-bottom: 1px solid @border-color-secondary;
    }
  }
}

.list-tabular {
  flex: 1;
  width: 100%;
  height: 100%;

  .list-tabular-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid @list-border;
    // border-left: 4px solid transparent;

    &:hover {
      cursor: default;
      background: @white;
    }

    // &.keyboard-cursor {
    //   border-left: 4px solid @list-focused-bg;
    // }

    &.selected {
      .checkmark .inner {
        .icon-mixin('../static/icons/check.svg', @blue, 24px);
        border: none;
      }
    }

    &.selected.focused {
      .checkmark .inner {
        .icon-mixin('../static/icons/check.svg', @blue, 24px);
        border: none;
      }
    }
    &.focused {
      .checkmark .inner {
        // border: 1px solid @accent-primary;
      }
    }

    .checkmark {
      padding: (55px - 1px - 18px) / 2;
      padding-left: 18px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      &::after {
        content: '';
        height: 28px;
        width: 28px;
        border-radius: 8px;
        background: rgba(0,0,0,0.15);
        display: none;
        position: absolute;
        top: 13px;
        left: 13px;
      }
      &:hover {
        &:after {
          display: block;
          animation: growUp 0.4s;
        }
      }
      .inner {
        width: 18px;
        height: 18px;
        .icon-mixin('../static/icons/check-empty.svg', @gray-lighter, 24px);
        border: none;
      }
    }
  }

  .list-column {
    // The width is set by React.
    display: inherit;
    padding-right: 7px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-items: center;

    &:first-child {
      // padding-left: @padding-base-horizontal - 4;
      width: 47px;
      overflow: visible;
    }
    &:last-child {
      text-align: right;
    }
  }
}
