.ignore-in-parent-frame {
  body {
    &::-webkit-scrollbar-thumb {
      background: lighten(#111112, 20%);
    }
  }
}
.RichEditor-content {
  -webkit-filter: invert() !important;
  filter: invert() !important;
  img {
    -webkit-filter: invert() !important;
    filter: invert() !important;
  }
  span.link,
  a {
    -webkit-filter: invert() !important;
    filter: invert() !important;
    color: #1F9AFF;
  }
}