.ignore-in-parent-frame {
  body {
    -webkit-filter: invert() hue-rotate(180deg);
    filter: invert() hue-rotate(180deg);
  }
  img {
    -webkit-filter: invert() hue-rotate(180deg);
    filter: invert() hue-rotate(180deg);
  }
}
