@import 'ui-variables';
@import './time-card-popover';

@snooze-quickaction-img: '../static/images/thread-list-quick-actions/ic-quickaction-snooze@2x.png';

.thread-list .list-item .list-column-HoverActions .action.action-snooze {
  background: url(@snooze-quickaction-img) center no-repeat, @background-gradient;
}

.snooze-button {
  order: -103;
}

.snooze-popover {
  .time-card-popover-base();
}
