@import 'ui-variables';
@import 'ui-mixins';


.infinite-rotation-linear {
  animation: spin-frame 1s linear infinite;
  background-color: @gray;
}

@keyframes spin-frame {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes move-progress-gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}