// The ui-variables file is provided by base themes provided by N1.
@import 'ui-variables';
@import 'ui-mixins';
@import 'buttons';

@compose-width: 1800px;
@compose-min-height: 70px;
@compose-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);

@blurred-primary-color: mix(@background-primary, #ffbb00, 96%);
@blurred-off-primary-color: mix(@background-off-primary, #ffbb00, 96%);
.icon-mixin(@svg-url, @bgColor: @gray-light, @bgSize: 15px) {
  -webkit-mask-image: url(@svg-url);
  -webkit-mask-size: @bgSize;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  background-color: @bgColor;
}

.sheet-toolbar .btn-toolbar.item-compose {
  position: relative;
  left: 15px;
  //top: 39px;
  // width: 129px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  font-weight: bold;
  color: @accent-primary;
  font-size: 13px;
  box-shadow: -1px 1.5px 6px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  text-align: left;
  display: flex;
  align-items: center;
  order: 0;
  flex-shrink: 0;
  flex-grow: 0;
  -webkit-app-region: no-drag;
  span {
    margin: 0 9px 0 12px;
    float: left;
  }
  img.content-mask {
    float: left;
    background-color: @accent-primary;
  }
  &:hover {
    box-shadow: -2px 2.5px 10px rgba(0, 0, 0, 0.35);
  }
}

.btn.item-refresh {
  position: absolute;
  top: 40px;
  right: 12px;
  width: 40px;
  height: 40px;
  box-shadow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: unset;
  img.content-mask {
    background-color: @gray-lighter;
  }
}

// Basic Rich Editor

.RichEditor-root {
  padding: 0 22px 0 22px;
  min-height: @compose-min-height;

  .RichEditor-content {
    padding: 12px 10px;
    position: relative; // needed for floating emoji picker
    color: @text-color;
    overflow-x: scroll;
    overflow-y: hidden;
    font-size: 14px;
    & > div {
      min-width: 100%;
    }
  }
}

.RichEditor-root blockquote {
  border-left: 2px solid #eee;
  color: mix(@text-color, purple, 50%);
  margin: 0;
  padding: 0 0 0 10px;
  -webkit-margin-after: initial !important;
  -webkit-margin-before: initial !important;
  -webkit-margin-start: initial !important;
  -webkit-margin-end: initial !important;
}

.RichEditor-root .link {
  color: @text-color-link;
  text-decoration: underline;
}
.RichEditor-root .custom-block-selected,
.RichEditor-root .uneditable.custom-block-selected {
  border: 1px dashed @text-color;
}

.RichEditor-root .uneditable {
  -webkit-user-modify: read-only;
  display: inline-block;
  border: 1px solid transparent;
  position: relative;
  white-space: normal;
  min-width: 30px;
  .uneditable-remove {
    position: absolute;
    display: none;
    right: -5px;
    top: -5px;
    z-index: 2;
    &:active {
      filter: brightness(85%);
    }
  }
  blockquote {
    color: mix(@text-color, purple, 50%);
  }
  &:hover {
    border: 1px dashed @border-color-divider;
    .uneditable-remove {
      display: initial;
    }
  }
}

.RichEditor-toolbar {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  user-select: none;
  position: relative;
  .color-picker {
    padding: 4px 5px;
    border: none;
    background: none;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    flex: 1;
    flex-shrink: 0;
    max-width: 34px;
    transition: background 0.4s;
    cursor: pointer;
    &:hover {
      color: @medium-grey;
      background: @off-white;
    }
  }
  .active-crowded-state {
    .hide-when-crowded {
      display: none;
    }
    .show-when-crowded {
      display: inline-block;
    }
  }

  .floating-container {
    border-bottom: 1px solid @border-color-divider;
    z-index: 2;
    width: 100%;
    min-height: 44px;
    display: flex;
    .fa,
    .dt-icon {
      font-size: 18px;
      line-height: 24px;
    }
  }

  .inner {
    background: @background-primary;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    cursor: default;
  }

  .divider {
    width: 1px;
    height: 22px;
    border-right: 1px solid @border-color-divider;
    margin-right: 6px;
    margin-left: 6px;
  }

  button {
    cursor: pointer;
    color: @medium-grey;
    padding: 4px 5px;
    border: none;
    background: none;
    width: 34px;
    height: 34px;
    border-radius: 17px;
    flex: 1;
    flex-shrink: 0;
    max-width: 34px;
    transition: background 0.4s;

    &:hover {
      color: @medium-grey;
      background: @off-white;

      img.content-mask {
        background-color: @medium-grey;
      }
    }
    &:active {
      color: @dark-grey;
      background: @extra-light-grey;

      img.content-mask {
        background-color: @dark-grey;
      }
    }
    &.with-select {
      max-width: 100px;
      white-space: nowrap;
      position: relative;
      padding: 0;
      display: flex;
      align-items: center;
      select {
        cursor: pointer;
        border: none;
        padding: 0 8px;
        color: @gray;
        margin: 0;
        min-width: 72px;
        max-width: 92px;
        background: transparent;
        -webkit-appearance: none;
        position: relative;
        z-index: 2;
        &:hover {
          color: darken(@gray, 5%);
        }
        & + img {
          position: absolute;
          right: 14px;
        }
      }
    }
    &.with-popup {
      padding-left: 2px;
      display: flex;
      align-items: center;
      img {
        margin-left: 2px;
      }
    }
    img.content-mask {
      background-color: @medium-grey;
    }
  }

  button.active {
    color: @component-active-color;
    img.content-mask {
      background-color: @component-active-color;
    }
  }

  .dropdown {
    z-index: 4;
    position: absolute;
    background: @background-primary;
    border-radius: @border-radius-base @border-radius-base 0 @border-radius-base;
    box-shadow: 0 0.5px 0 @standard-shadow-color, 0 -0.5px 0 @standard-shadow-color,
      0.5px 0 0 @standard-shadow-color, -0.5px 0 0 @standard-shadow-color,
      0 -3px 12px @standard-shadow-color;
  }

  .color-swatch {
    border: 1px solid @border-color-divider;
    margin: 0 7px;
  }

  .link-picker {
    flex: 1;
    flex-shrink: 0;
    max-width: 32px;
    text-align: center;

    .dropdown {
      padding: 5px;
      display: flex;
      flex-direction: row;
      button {
        max-width: 50px;
      }
    }
  }
}

// Composer-Specific

body.platform-win32 {
  .composer-inner-wrap {
    .composer-drop-cover {
      border-radius: 0;
    }
    .composer-action-bar-wrap {
      border-radius: 0;
    }
    input,
    input:focus {
      box-shadow: none;
    }
  }
}

.action-bar-cover-gen() {
  .action-bar-cover {
    // background-image: -webkit-linear-gradient(left, fade(@action-bar-bg, 0) 0%, @action-bar-bg 10%);
  }
}

// Used to allow the click targets to extend into the margins
.composer-field-bottom-border() {
  // width: calc(~'100% - 44px');
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  content: ' ';
  background: @border-color-divider;
}

@shadow-offset-top: 20px;
.sendbar-for-dock {
  background: @white;
  position: sticky;
  bottom: 20px;
  height: 46px;
  z-index: 4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  .action-bar-wrapper {
    position: absolute;
    padding: 0 10px;
    width: 100%;
    z-index: 3;
    &:after {
      content: '';
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      box-shadow: @compose-shadow;
      clip: rect(@shadow-offset-top, 10000px, 76px, -10px);
      z-index: 2;
    }
  }
  .wrapper-space {
    height: 100%;
    background: @white;
    width: calc(~'100% + 40px');
    margin-left: -20px;
    position: relative;
    top: @shadow-offset-top;
  }
}
.composer-action-bar-wrap {
  @action-bar-bg: @background-off-primary;
  position: relative;
  width: 100%;
  background: transparent;
  border-top: 1px solid @border-color-divider;
  border-bottom: 0;
  padding: 10px 0;
  z-index: 9;

  .action-bar-cover-gen;

  // Buttons in the composer footer
  .btn.btn-toolbar:not(.btn-emphasis) {
    background: transparent;
    box-shadow: 0 0 0;
    margin: 0;
    padding: 0 9px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    img.content-mask {
      position: relative;
      z-index: 2;
      background-color: @medium-grey;
    }
    &:hover {
      &:after {
        content: '';
        height: 36px;
        width: 36px;
        border-radius: 50%;
        background: @icon-hover-bg-color;
        display: block;
        position: absolute;
        top: -6px;
        left: 3px;
        .grow-up-animation-mixin()
      }
      img.content-mask {
        background-color: @medium-grey;
      }
    }
    &:active {
      img.content-mask {
        background-color: @dark-grey;
      }
    }
    &.btn-enabled {
      color: @component-active-color;
      img.content-mask {
        background-color: @component-active-color;
      }
    }
  }

  .btn.btn-toolbar.btn-trash {
    position: absolute;
    right: 10px;
    color: @medium-grey;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    span {
      display: inline-block;
      line-height: 24px;
      position: relative;
      z-index: 2;
      padding-left: 4px;
    }
    &:hover {
      &:after {
        height: 36px;
        width: 92px;
        left: 0;
        border-radius: 18px;
      }
    }
  }

  .btn.btn-toolbar.btn-send {
    border-radius: 17px;
    white-space: nowrap;
    height: 33px;
    background-color: transparent;
    transition: all 0.2s;
    font-weight: bold;
    padding: 0 15px 0 13px;
    margin: 0 5px;
    cursor: pointer;
    span {
      div[role='button'] {
        float: left;
        svg {
          path {
            stroke: @blue;
          }
        }
      }
      img.content-mask {
        float: left;
        background-color: @blue;
        margin-top: 3px;
      }
      span {
        float: left;
        color: @blue;
        font-size: 15px;
        line-height: 33px;
      }
    }
    &:hover {
      background-color: @blue;
      &:after {
        display: none;
      }
      span {
        div[role='button'] {
          float: left;
          svg {
            path {
              stroke: @text-color-inverse;
            }
          }
        }
        img.content-mask {
          background-color: @text-color-inverse;
        }
        span {
          color: @text-color-inverse;
        }
      }
    }
    &:active {
      background-color: @btn-primary-active;
    }
  }

  .composer-action-bar-content {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    max-width: @compose-width;
    align-items: center;

    .composer-action-bar-plugins {
      flex-wrap: wrap;
    }

    .divider-line {
      height: 25px;
      width: 1px;
      margin: 0 8px;
      background: @gray-lighter;
    }
  }

  .action-bar-animation-wrap {
    position: relative;
    overflow: visible;

    .composer-action-bar-plugins {
      opacity: 0;
      transition: opacity 30ms;
    }

    .action-bar-cover {
      transition: left 200ms ease-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }

    &.plugins-loaded {
      .composer-action-bar-plugins {
        opacity: 1;
      }
      .action-bar-cover {
        left: 100%;
      }
    }
  }
}

.composer-inner-wrap {
  margin-top: 20px;
  padding: 0 5px 0 5px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .RichEditor-root {
    padding: 0;
  }

  .composer-drop-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7);
    border-radius: @border-radius-base;
    border: 4px dashed lighten(@gray, 30%);
    text-align: center;
    line-height: 2.3em;
    pointer-events: none;

    .centered {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: lighten(@gray, 20%);
      font-weight: 500;
      font-size: 1.1em;
      img {
        margin: auto;
        display: block;
        margin-bottom: 20px;
        background-color: lighten(@gray, 20%);
      }
    }
  }

  .nylas-attachment-item.image-attachment-item {
    margin: 0;
    max-width: calc(100% - 22px); // right margin of composer
    min-width: 0;
  }

  .composer-content-wrap {
    padding: 0;
    flex: 1;
    display: flex;
    position: relative;
    flex-flow: column;
  }

  .composer-centered {
    display: flex;
    position: relative;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: @compose-width;
    margin: 0 auto;
    padding-top: @spacing-standard * 0.7;
  }

  .composer-body-wrap {
    padding: 0 0 5px 0;
    min-height: 100%;
  }

  .composer-header {
    .key-commands-region {
      height: auto;
    }
  }

  .composer-header-actions {
    position: relative;
    float: right;
    z-index: 2;
    cursor: default;
    padding-right: 10px;
    padding-top: 12px;
    font-weight: bold;

    .action {
      cursor: pointer;
      color: @text-color-very-subtle;
      img.content-mask {
        background-color: @text-color-very-subtle;
      }
      font-size: @font-size-small;
      padding: 10px 6px;
      &:first-child {
        padding-left: @spacing-standard;
      }
      &:nth-last-child(2) {
        padding-right: 0;
      }
      &:last-child {
        padding-right: 0;
      }
      &:hover {
        color: @text-color-link;
        img.content-mask {
          background-color: @text-color-link;
        }
      }
      &.show-popout {
        position: absolute;
        top: -24px;
        right: 0;
      }
    }
  }

  input,
  textarea {
    color: @text-color;
    position: relative;
    display: block;
    background: inherit;
    width: 100%;
    resize: none;
    border: none;
  }

  .composer-field-label {
    color: @text-color-very-subtle;
    float: left;
    padding-top: 13px;
    display: block;
    font-weight: bold;
    &:hover {
      cursor: default;
    }
  }

  .dt-icon-font-size + select {
    position: relative;
    top: -3px;
  }

  .composer-subject {
    position: relative;
    margin: 0;
    flex-shrink: 0;

    &:after {
      .composer-field-bottom-border;
    }

    // for Mail Merge
    div[contenteditable] {
      padding-left: 22px;
      padding-right: 22px;
    }

    input {
      font-size: 15px;
      line-height: 44px;
      display: inline-block;
      padding: 0 10px;
      min-width: 5em;
      background-color: transparent;
      border: none;
      margin: 0;
      &::-webkit-input-placeholder {
        color: @gray-light;
      }
      &:focus {
        box-shadow: none;
      }
    }
  }

  .compose-body-scroll {
    position: initial;
    .scroll-region-content .scroll-region-content-inner {
      min-height: 100%;
      display: flex;
    }
  }

  .compose-body {
    flex: 1;
    cursor: text;
    position: relative;
    margin: 0;

    .RichEditor-toolbar {
      .hide-in-composer {
        display: none;
      }
    }

    .hiding-quoted-text {
      blockquote {
        height: 0;
        overflow: hidden;
        padding: 0;
      }
      .gmail_quote_attribution {
        height: 0;
        overflow: hidden;
        padding: 0;
      }
    }

    .quoted-text-control {
      position: relative;
      // The quoted-text-control has no top margin since the
      // div[contentedtiable] has 10px of bottom padding. It's better to
      // put the padding on the contenteditable so the bottom looks nice
      // in popout windows when there's no quoted text control.
      margin: 0 @spacing-standard @spacing-standard 1px;

      .remove-quoted-text {
        display: none;
        cursor: pointer;
        position: absolute;
        z-index: 2;
        right: -6px;
        top: -6px;
        border-radius: 0 0 0 3px;
        &:active {
          background: none;
          -webkit-filter: brightness(95%);
        }
        img {
          height: 24px;
        }
      }

      &:hover .remove-quoted-text {
        display: block;
      }
    }
  }

  .composer-footer-region {
    padding: 0 22px;
    cursor: default;
    &:hover {
      cursor: default;
    }
  }

  // TODO FIXME DRY From stylesheets/message-list.less
  .attachments-area {
    padding: 0;
    margin: 0 8px;
  }
}

// Overrides for the full-window popout composer
.composer-full-window {
  width: 100%;
  height: 100%;

  .composer-outer-wrap {
    width: 100%;
    height: 100%;
  }

  .composer-inner-wrap {
    margin-top: 0;
    .sendbar-for-dock {
      height: 34px;
      .action-bar-wrapper {
        padding: 0;
      }
    }
    .composer-action-bar-wrap {
      @action-bar-bg: darken(@background-primary, 1%);
    }

    .compose-body {
      margin-bottom: 0;
      position: relative;
      background: @white;
    }
  }

  .RichEditor-root {
    min-height: @line-height-computed;
  }
}

// Overrides for the composer in a message-list
#message-list {
  .scrollbar-track {
    background: transparent;
  }
  .message-item-wrap {
    &.draft {
      padding-bottom: 15px;
      border-bottom: none;
    }
    .message-item-white-wrap.composer-outer-wrap {
      background: @blurred-primary-color;

      .show-more-fade {
        background: linear-gradient(
          to right,
          fade(@blurred-primary-color, 0%) 0%,
          fade(@blurred-primary-color, 100%) 40%
        );
      }
      .composer-action-bar-wrap {
        @action-bar-bg: @blurred-off-primary-color;
        background: transparent;
        .action-bar-cover-gen;
      }
      .RichEditor-toolbar .inner {
        background: @blurred-primary-color;
      }
    }
    .message-item-white-wrap.composer-outer-wrap.focused {
      box-shadow: @compose-shadow;
      border-radius: 10px;
      background-color: @background-primary;
      .show-more-fade {
        background: linear-gradient(
          to right,
          fade(@background-primary, 0%) 0%,
          fade(@background-primary, 100%) 40%
        );
      }
      .composer-action-bar-wrap {
        @action-bar-bg: @background-off-primary;
        background: transparent;
        .action-bar-cover-gen;
      }
      .RichEditor-toolbar .inner {
        background: @background-primary;
      }
      .action-bar-wrapper {
        &:after {
          display: block;
        }
      }
    }
  }
}

/////////////////////////////
// participants-text-field //
/////////////////////////////
.composer-participant-field {
  position: relative;
  margin: 0;
  flex-shrink: 0;
  min-height: 44px;
  color: @text-color;

  .tokenizing-field-wrap {
    padding: 0 10px;
  }
  .content-container {
    margin-left: 10px;
    width: calc(~'100% - 44px');
  }
  .button-dropdown {
    .content-container {
      margin-left: 0;
      width: 100%;
    }
  }
  &:after {
    .composer-field-bottom-border;
  }

  &.from-field {
    padding: 0 10px;
  }

  .from-single-name {
    font-size: 15px;
    padding-left: 8px;
    &:hover {
      cursor: default;
    }
  }

  .button-dropdown {
    margin-left: 10px;
    padding-top: 7px;
    vertical-align: -webkit-baseline-middle;

    .primary-item,
    .only-item {
      border-radius: 14px;
      line-height: 2em;
      font-size: 15px;
      img.content-mask {
        margin-top: -1.5px;
      }
    }
    &:hover {
      .primary-item,
      .only-item {
        background: @off-white;
        img.content-mask {
          background-color: @medium-grey;
        }
      }
    }
    &:active {
      .primary-item,
      .only-item {
        background: @extra-light-grey;
        img.content-mask {
          background-color: @dark-grey;
        }
      }
    }
    .secondary-items {
      border-radius: @border-radius-base;
    }
    .item {
      .contact.is-alias {
        font-style: italic;
        padding-left: @padding-small-horizontal;
        border-left: 2px solid @border-color-divider;
        margin-left: 2px;
      }
    }
  }

  .participant {
    display: flex;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    .participant-primary {
      font-weight: @font-weight-semi-bold;
    }
    .participant-secondary {
      color: @text-color-very-subtle;
    }
  }

  .tokenizing-field-input {
    z-index: 1;
    margin-left: 2.8em;
  }
}

// Emoji Picker

.emoji-picker {
  z-index: 3;
  padding: 4px;
  background: @background-primary;
  box-shadow: @standard-shadow;
  min-width: 140px;

  .btn.btn-icon {
    display: block;
    font-size: 14px !important;
    padding: 0 0.5em;
    text-align: left;
    word-break: break-all;
    overflow: hidden;

    &:first-child {
      padding-left: 0.5em !important;
    }
    &.emoji-option,
    &:hover {
      background-color: @btn-emphasis-bg-color;
      color: #ffffff;
      border-radius: 5px;
    }
  }
}
.more-compose-button-popover {
  width: 36px;
  height: 186px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: @spacing-quarter;
}

.font-size-popover {
  width: 132px;
  height: 140px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: @spacing-quarter;
  .option {
    font-weight: normal;
    line-height: @dropdown-default-option-height;
    padding-left: 26px;
    padding-right: 26px;
    width: 100%;
    height: @dropdown-default-option-height;
    display: flex;
    align-items: center;
    cursor: pointer;
    &.selected {
      &::before {
        display: block;
        margin-left: -22px;
        height: 20px;
        position: absolute;
        width: 20px;
        content: '';
        .icon-mixin('../static/icons/check-alone.svg', @black, 24px);
      }
    }
    &.small {
      font-size: @font-size-composer-small;
    }
    &.normal {
      font-size: @font-size-composer-normal;
    }
    &.large {
      font-size: @font-size-composer-large;
    }
    &.huge {
      font-size: @font-size-composer-huge;
    }
    &:hover {
      background-color: @dropdown-default-hover-bg-color;
    }
  }
}

.emoji-button-popover {
  width: 210px;
  height: 290px;
  overflow: hidden;
  .emoji-tabs {
    display: flex;
    flex-direction: row;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid @border-color-primary;
    transition: box-shadow 0.5s;
    &.shadow {
      box-shadow: @standard-shadow;
    }
    .emoji-tab {
      background-color: @gray-light;
      cursor: pointer;
      &:hover {
        background-color: @component-active-color;
      }
      &.active {
        background-color: @component-active-color;
      }
    }
  }
  .emoji-finder-container {
    height: 232px;
    .scrollbar-track {
      background: transparent;
      border-left: none;
      width: 10px;
    }
    .emoji-search-container {
      padding: @padding-base-vertical * 1.5 @padding-base-horizontal 0;
    }
  }
  .emoji-name {
    height: 25px;
    width: 192px;
    margin-top: 2px;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: @text-color-very-subtle;
  }
}
