@import 'ui-variables';
@import '../../thread-snooze/styles/time-card-popover';

.send-later-popover {
  .time-card-popover-base();

  .send-later-footer {
    border-top: 1px solid @border-color-divider;
    padding: 0 @padding-large-horizontal @padding-large-vertical @padding-large-horizontal;
  }

  .btn-cancel {
    width: 100%;
  }
}

.btn-send-later {
  .at {
    margin-left: 3px;
  }
}

.send-later-status {
  display: flex;
  align-items: center;

  .time {
    font-size: 0.9em;
    opacity: 0.62;
    color: @component-active-color;
    font-weight: @font-weight-normal;
  }
  img {
    width: 38px;
    margin-left: 15px;
  }
}
