@import 'ui-variables';
@import 'ui-mixins';

.event-wrapper {
  cursor: default;
  position: relative;
  font-size: @font-size-small;
  margin-top: @spacing-standard;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: inline-block;
  border-radius: @border-radius-base;
  border: 1px solid @border-color-divider;
  color: @text-color;

  .event-header {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img.content-mask {
      margin-right: 20px;
      background-color: @gray-light;
    }

    .event-title {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: @font-size-h4;
      font-weight: @font-weight-semi-bold;
      color: @text-color;
    }
  }

  .event-body {
    padding: @padding-small-horizontal;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    .event-key-name {
      font-size: @font-size-base;
      font-style: normal;
      padding-right: 14px;
      color: @text-color-very-subtle;
    }
    .event-data {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      width: 100%;
      font-size: @font-size-base;
      .event-time {
        display: inline-block;
        padding-bottom: @padding-small-horizontal;
      }
      .event-location{
        display: inline-block;
        padding-bottom: @padding-small-horizontal;
      }
      .event-organizer{
        display: inline-block;
        padding-bottom: @padding-small-horizontal;
      }
    }

    .event-actions {
      display: inline-block;
      float: right;
      padding: 16px 0 0 0;
      z-index: 4;
      text-align: center;
      margin-left: -6px;
      .btn-rsvp {
        float: left;
        padding: 0 15px;
        line-height: 30px;
        color: @accent-primary;
        border-radius: 15px;
        border: 1px solid @accent-primary;
        font-size: @font-size-base;
        min-width: 64px;
        margin: 0 7.5px 0 7.5px;
        font-weight: @font-weight-semi-bold;
        cursor: pointer;
        &:active {
          // background: transparent;
        }

        &.no {
          background: @color-error;
          border-color: @color-error;
          color: @white;
        }

        &.yes {
          background: @color-success;
          border-color: @color-success;
          color: @white;
        }

        &.maybe {
          background: @gray-light;
          border-color: @gray-light;
          color: @white;
        }
      }
    }
  }
}
body.platform-win32 {
  .event-wrapper {
    border-radius: 0;
    .event-body {
      .event-actions {
        .btn-rsvp {
          border-radius: 0;
        }
      }
    }
  }
}
