@import 'ui-variables';

.chat-view-container {
  .button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    border: 1px solid #f0f0f0;
    box-shadow: 1px 1px 3px #f0f0f0;
    color: @blue;
    font-weight: bold;
  }
  .no-border {
    border: none;
    box-shadow: none;
    background: transparent;
  }
}

.toolbar-chat {
  order: 100;
  button {
    margin-left: 0;
    margin-right: 0;
  }
}