.chat-view-container {
  height: 100%;
  width: 100%;
  overflow: hidden;

  .chatPageContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
  }

  .leftPanel {
    height: 100%;
  }

  .rightPanel {
    height: 100%;
    flex-grow: 1;
  }
}
