@import 'ui-variables';

.chat-avatar {
    background-size: cover;
    color: @text-color-inverse;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-shrink: 0;
    position: relative;
    overflow: visible;
    .offline,
    .online {
        height: 9px;
        width: 9px;
        border-radius: 50%;
        position: absolute;
        right: -1px;
        bottom: -1px;
        border: 1px solid @text-color-inverse;
    }
    .online {
        background: @green;
    }
    .offline {
        background: @gray-light;
        display: none;
    }
    .avatar-image {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}