.email-attachment-popup-container {
  background: #fff;
  .scroll-region {
    position: relative;
    width: 400px;
    height: 500px;
  }
  .email-title {
    display:inline-block;
    width: 380px;
    text-align: center;
  }
  .confirm-button {
    display: inline-block;
    position: absolute;
    top: 22px;
    right: 10px;
  }
  .email-label-row {
    width:100%;
    padding-left: 20px;
    height:30px;
    padding-bottom: 5px;
    background-color: #f6f8fd;
  }
  .attachment-row {
    width:100%;
    height:30px;
    overflow: hidden;
    &:hover {
      background-color: #EFEFEF;
    }
  }
  .attachment-row.checked {
    background-color: #f8f8fa !important;
    color: #1293fd;
  }
  .email-check,
  .email-subject,
  .email-attachment {
    float: left;
    height: 100%;
    line-height: 30px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .email-check {
    width:20px;
  }
  .email-subject {
    width: 200px;
    margin: 0 auto;
  }
  .email-attachment {
    width: 180px;
    margin: 0 auto;
  }
}
