@chatHeight: 600px;
.chat-view-container {
  .container {
    display: flex;
    flex-direction: row;
    height: @chatHeight;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .authFormContainer {
    display: flex;
    flex-direction: column;
  }

  .label {
    align-self: flex-start;
    text-align: left;
  }

  .error {
    color: red;
  }
}