.chat-view-container {
  .contactsList {
    position: absolute;
    height: 100%;
    width: 300px;
    right: 0;
    top: 0;
    flex: 1;
    overflow-y: scroll;
    background: rgba(255,255,255,0.98);
  }
  .update-group-button {
    position: relative;
  }
}
