@import 'ui-variables';

.member-profile-panel {
  .icon-mixin(@svg-url, @bgColor: @gray-light, @bgSize: 15px) {
    -webkit-mask-image: url(@svg-url);
    -webkit-mask-size: @bgSize;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: @bgColor;
  }
  @more-height: 20px;
  position: absolute;
  top:120px;
  right:240px;
  border: 1px gray solid;
  width:420px;
  height:600px;
  background-color: white;
  box-sizing: border-box;
  height: 600px;
  width: 420px;
  background-color: #FFF;
  border: 0.5px solid #E8EBED;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.1), 0 20px 30px 0 rgba(0,0,0,0.2);
  .button.more {
    position: absolute;
    top:5px;
    right: 4px;
    width: @more-height;
    height: @more-height;
    border-radius: 50%;
    .icon-mixin('../static/icons/expand-more.svg', @gray, 24px);
    &:hover {
      .icon-mixin('../static/icons/expand-more.svg', @blue, 24px);
    }
  }
  .avatar-area {
    position: relative;
    display:flex;
    margin-top:22px;
    width:100%;
    overflow: hidden;
    .chat-avatar {
      width:140px;
      height:140px;
      overflow: hidden;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      margin: 0 20px;
    }
    .chat-avatar .online {
      background: none;
    }
    .name-buttons{
      width:220px;
      height:160px;
    }
    .member-name {
        height: 24px;
        width: 240px;
        color: #000;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.01px;
        line-height: 24px;
    }

    .member-field {
      width: 420px;
      height:20px;
    }

  }
  .button.more {
    width: @more-height;
    height: @more-height;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    margin-right: 20px;
  }
  .command-button {
    width: 150px;
    height: 35px;
    margin: 6px 15px 6px 0px;
    border-radius: 14px;
    font-weight: bold;
    color: @accent-primary;
    box-shadow: -1px 1.5px 6px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    background-color: @white;
    background: none;
    &:hover {
      box-shadow: -2px 2.5px 10px rgba(0, 0, 0, 0.35);
    }
  }

  .command-button img.content-mask {
    height: 20px;
    width: 20px;
    background-color: @accent-primary;
    margin: 10px 15px 10px -12px;
  }

  .email {
    display: flex;
    height: 40px;
    line-height: 40px;
    width:90%;
    margin: 0 5%;
    border-bottom:  1px solid lightgray;
  }
  .email-label {
    color: @gray;
    font-size: 13px;
    letter-spacing: -0.17px;
    text-align: right;
    width:155px;
    padding-right: 4px;
  }
  .member-email{
    color: @black;
    font-size: 13px;
    letter-spacing: -0.17px;
  }
  .nickname {
    display: flex;
    height: 40px;
    line-height: 40px;
    width:90%;
    margin: 0 5%;
    border-bottom:  1px solid lightgray;
  }
  .nickname-label {
    color: @gray;
    font-size: 13px;
    letter-spacing: -0.17px;
    text-align: right;
    width:155px;
  }
  .nickname-input {
    width:200px;
    color: @gray;
    font-size: 13px;
    letter-spacing: -0.17px;
    border:none;
    outline:none;
  }
  .nickname-input:focus {
    outline:none;
    border:none;
  }

}
