.message-image-popup {
  position: fixed;
  border: solid 1px black;
  background-color: white;
  border-radius: 5px;
  z-index: 999;
  overflow: hidden;

  .topbar {
    height:24px;
    width:100%;
    background-color: gray;
  }
  .message-image-popup-toolbar {
    width: 100%;
    height: 48px;
  }
  .image-popup-avatar {
    position: relative;
    top:-10px;
    margin: auto 0 auto 0;
    height: 48px;
    width: 48px;
  }
  .popup-img-container {
    justify-content: center;
    align-items: center;
  }
  #close-button {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(images/chat/mac-close-window.png) no-repeat center center;
  }
  .left-arrow-button {
    display: inline-block;
    position: absolute;
    top:45%;
    left:0;
    width: 48px;
    height: 48px;
    background: url(images/chat/left-arrow.png) no-repeat center center;
  }
  .right-arrow-button {
    display: inline-block;
    position: absolute;
    top:45%;
    right:0;
    width: 48px;
    height: 48px;
    background: url(images/chat/right-arrow.png) no-repeat center center;
  }
  .left-span {
     display: inline-block;
     width: 48px;
     height: 100%;
   }
  .right-span {
    display: inline-block;
    width: 48px;
    height: 100%;
    float: right;
  }
  .popup-img {
    vertical-align: top;
    margin: auto;
    align-self: center;
  }
}
