@import '../node_modules/rc-editor-mention/assets/index.css';
@import '../node_modules/rc-editor-mention/assets/animation.css';

.chat-view-container {
  .editing {
    .sendBar {
      padding-bottom: 40px;
    }
    .edit-button-group {
      position: absolute;
      right: 16px;
      bottom: 2px;
      display: flex;
      width: 300px;
      justify-content: flex-end;
      .button {
        border-radius: 5px;
        margin-left: 10px;
        padding: 2px 10px;
        &.cancel {
          color: #ff355e;
        }
      }
      .sendBarEmoji {
        position: static;
        margin: 0;
      }
    }
  }
  .sendBar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 16px;
    height: auto;
  }

  .sendbar-attacment {
    position: absolute;
    bottom: 0;
    right: 72px;
    margin: 18px;
    .button {
      padding: 6px;
    }
    .icon {
      fill: #787d80;
      transition: transform 0.3s;
    }
    .button:hover {
      .icon {
        fill: #0096ff;
        transform: scale(1.2);
      }
    }
  }

  .sendBarEmoji{
    position: absolute;
    bottom: 0;
    right: 36px;
    margin: 18px;
    .button {
      padding: 6px;
    }
    .icon {
      fill: #787d80;
      transition: transform 0.3s;
    }
    .button:hover {
      .icon {
        fill: #0096ff;
        transform: scale(1.2);
      }
    }
  }

  .sendBarActions {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 18px;
    .button {
      padding: 6px;
    }
    .icon {
      fill: #787d80;
      transition: transform 0.3s;
    }
    .button:hover {
      .icon {
        fill: #0096ff;
        transform: scale(1.2);
      }
    }
  }

  #remove-file {
    display: inline-block;
  }

  #remove-file-inner {
    display: inline-block;
    border: solid 1px gray;
    background-color: lightgray;
    width: 15px;
    height: 15px;
    text-align: center;
    position: relative;
    top: 10px;
    left: -20px;
  }
  #clear-all-files {
    display: inline-block;
    border: solid 2px gray;
    background-color: lightgray;
    width: 20px;
    height: 20px;
    text-align: center;
  }

  .messageTextField {
    width: 100%;
    border: 1px solid #f0f1f3;
    padding: 9px 13px;
    border-radius: 5px;
    resize: none;
    position: relative;
    transition: all 0.5s;
  }
  .messageTextField:focus {
    box-shadow: -2px 2px 6px #999;
    left: 1px;
    top: -1px;
  }

  .chat-message-filelist {
    display:block;
    align-self: left;
  }
}
