@import 'ui-variables';
.top-bar-container {
  &.messages-top-bar {
    border-bottom: 1px solid @gray-lighter;
    &.has-shadow {
      transition: box-shadow 0.2s ease-in-out;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    }
  }
  .chatTopBarCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .onlineIndicatior {
    font-size: 0.85em;
    opacity: 0.7;
    float:left;
    margin:0 2px;
  }

  .backButtonContainer {
    display: none;
  }

  div[contenteditable] {
    transition-duration: 0.5s;
    transition-property: padding-left;
  }
  .left {
    position:relative;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    max-width: 600px;
    overflow:hidden;
    text-overflow: ellipsis;
    z-index: 1;
    &:focus, &:hover {
      max-width:1000px;
      z-index: 200;
    }
    .conversationName {
      padding:0 30px 0 20px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: #000;
      font-size: 32px;
      font-weight: 700;
      line-height: 38px;
    }
    .conv-name {
      width: 100%;
      .conv-pencil {
        display: none;
        position:absolute;
        top:20px;
        right:0px;
        font-size:16px;
        color:#23c0fa;
      }
      &:hover > .conv-pencil {
        display: inline-block;
      }
    }
  }

  .left div[contenteditable]:focus,
  .left div.contenteditable {
    padding-left: 6px;
    white-space: nowrap;
    border: 1px solid #23c0fa;
    border-radius: 6px;
    overflow: hidden;
    a:hover {
      cursor: text;
    }
  }
  .right {
    overflow: visible;
    .avatar-search {
      height: 100%;
      max-height: 65px;
      width: 100%;
      position: relative;
      display: flex;
      overflow: visible;
      align-items: center;
      &:hover{
        z-index:1000;
      }
      #open-info {
        display: flex;
        cursor: pointer;
        width: 45px;
        height: 45px;
        -webkit-app-region: drag;
        margin-right: 10px;
        align-items: center;
        justify-content: flex-end;
      }
      .thread-search-bar {
        display: inline-block;
        flex: 1;
        position: static;
        margin-right: 20px;
      }
      .chat-avatar {
        position: absolute;
      }
      .groupAvatar {
        width: 100%;
        height: 100%;
        position: relative;
        .online,
        .offline {
          display: none;
        }
        .chat-avatar:nth-child(1) {
          width: 35px;
          height: 35px;
          right: 0px;
          top: 8px;
          border: 1px solid @white;
          z-index: 2;
        }
        .chat-avatar:nth-child(2) {
          width: 20px;
          height: 20px;
          top: 4px;
          right: 21px;
        }
      }
    }
  }

}
