.chat-view-container {
  .chatTopBarCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .conversationName {
    font-weight: bold;
    font-size: 14px;
    margin: 0 16px;
  }

  .onlineIndicatior {
    font-size: 0.85em;
    opacity: 0.7;
    float:left;
    margin:0 2px;
  }

  .backButtonContainer {
    display: none;
  }
}
