@import 'ui-variables';

.chat-view-container {
  @topBarHeight: 68px;
  .top-bar-container {
    height: @topBarHeight;
    // width: 100%;
    min-height: @topBarHeight;
    display: flex;
    flex-direction: row;
    align-items: center;
    // padding-right: 13px;
  }
  .left-title,
  .mid-title {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
  }

  .left-title {
    font-size: 10px;
    color: @gray-light;
    font-family: 'SF UI Text';
    font-weight: 700;
    letter-spacing: 0.5px;
  }

  .center {
    flex: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }
  .center:hover {
    z-index: 200;
  }

  .right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
  }
  a {
    text-decoration: none;
  }
  //   .new-message {
  //     min-width: 46px;
  //     height: 28px;
  //     line-height: 28px;
  //     border-radius: 14px;
  //     text-align: center;
  //     font-size: 13px;
  //     font-weight: bold;
  //     margin-right: 13px;
  //     box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.1);
  //     transition: 0.5s;
  //     img.content-mask {
  //       background: @blue;
  //       margin-right: 3px;
  //     }
  //     &:hover {
  //       box-shadow: -2px 2.5px 10px rgba(0, 0, 0, 0.35);
  //     }
  //   }
}
