@import 'ui-variables';
.undo-redo-toast-container {
  position: fixed;
  bottom: 56px;
  z-index: 100;
  max-width: 25%;
  text-align: center;
  pointer-events: none;
  .undo-redo-toast {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    .content {
      height: 48px;
      opacity: 0.97;
      border-radius: @border-radius-toast;
      background: @blue-light;
      white-space: nowrap;
      cursor: default;
      pointer-events: initial;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-width: 200px;
      box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.2);
      padding: 11.5px 17.5px 11.5px 20px;
      margin-bottom: 5px;
      margin-left: 5px;
    }
    .failed{
      background: @red;
    }

    .message {
      flex: 1;
      color: @white;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 12px;
      letter-spacing: 0.34px;
      height: 13px;
      line-height: 13px;

    }

    .action {
      flex-shrink: 0;
      white-space: nowrap;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-start;
      align-items: center;
      padding-left: 20.5px;
      //background: fade(@black, 20%);
      //padding: 3px 8px;
      //border-radius: 4px;
      //border: 1px solid fade(@background-primary, 20%);

      //img {
      //  background-color: @background-primary;
      //}
      //&:hover {
      //  background: fade(@black, 30%);
      //  border: 1px solid fade(@background-primary, 30%);
      //}
      .undo-action-text {
        color: @white;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.34px;
        line-height: 13px;
        height: 13px;
        padding-right: 14.5px;
      }

      .content-mask {
        height: 10px;
        width: 10px;
        background-color: @gray;
      }
    }
  }

  body.platform-win32 {
    .content {
      border-radius: 0;
    }
  }

  .undo-redo-toast-fade-enter {
    opacity: 0.01;
    transform: translate3d(0, 10px, 0);
    transition: all 0.15s ease-out;
  }

  .undo-redo-toast-fade-enter.undo-redo-toast-fade-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  .undo-redo-toast-fade-leave {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 0.15s ease-in;
  }

  .undo-redo-toast-fade-leave.undo-redo-toast-fade-leave-active {
    transform: translate3d(0, 10px, 0);
    opacity: 0.01;
  }

  .countdown {
    height: 30px;
    width: 30px;
    font-size: 0.9em;
    margin-left: 5px;
    text-align: center;
    position: relative;

    .countdown-number {
      color: @background-primary;
      display: inline-block;
      line-height: 30px;
    }

    svg {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      transform: rotateY(-180deg) rotateZ(-90deg);
    }

    svg circle {
      stroke-dasharray: 88px; // circumference at radius 14
      stroke-dashoffset: 0px;
      stroke-linecap: round;
      stroke-width: 1.5px;
      stroke: @background-primary;
      fill: none;
      animation: countdown 10s linear forwards;
    }

    @keyframes countdown {
      0% {
        stroke-dashoffset: 0px;
        stroke: @background-primary;
      }
      65% {
        stroke-dashoffset: 57.2px;
        stroke: @background-primary;
      }
      100% {
        stroke-dashoffset: 88px;
        stroke: @color-warning;
      }
    }
  }
}